<html>
<head>
	<title>Facial Emotion Detection</title>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="File Upload widget Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<style>
body{
  background: rgba(0,0,0,0.9);
}
</style>
		
</head>
<body>

		<h1  style="color:white; padding-top:50px; text-align:center;">Facial Emotion Detection</h2>
			<center><h3 style="color:white; padding-top:10px;text-align:center;"><b>Your selected this image</b></h3></center>		
			<img src="{{url_for('static', filename='after.jpg')}}" style ="display: block;margin-left: auto; margin-right: auto;width: 30%;height:50%; ">
		<p style="background-color:#222626;color:white; padding-top:50px;padding-bottom:50px;text-align:center;border:1px solid white;display: block;margin-left: auto; border-radius: 25px;margin-right: auto;width: 30%; font-size:30px;">You Are Looking <b> {{data}} </b> </p>

	<div class="footer">
		<p style="color:white;margin-top:100px; text-align:center;"> Created  By Alphin Jain</a></p>
	</div>
</body>
</html>


